.about-cover{
    background-image: url('/web/image/rocks.about_bg');
    height: 50vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.before::before{
    content: ' ';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}


.about-cover h1{
    z-index: 1;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.wear-a-smile{
    height: 75vh;
    background-color: #282320;
}

.img-wrapper{
    top: -7%;
    left: 8%;
    filter: drop-shadow(0 0 0.75rem rgba(222, 204, 202,0.5));
}

.my-6{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.about-heading{
    letter-spacing: 1px;
}

.why-we-smile{
    background-image: url('/web/image/rocks.about_img_2');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.why-heading,.why-text{
    z-index: 1;
}

.why-text{
    text-align: justify;
    background-color: rgba(0, 0, 0,0.5);
}

.founders-section{
    background-color: #E7DAD9;
}